.comments{
    background: #fff;
    margin: 50px 0;
    padding: 0 0 10px 0;
    direction: ltr;
}
.comm-slider{
    max-width: 650px;
    padding-top: 50px;
    width: 100%;
    margin: auto;
}
.comment{
    position: relative;
    background: #fff;
    box-shadow: 0 0 20px 0 #a0a0a0;
    border-radius: 5px;
    margin: 70px 20px 40px 20px;
}
.c_text{
    font-size: 26px;
    padding: 80px 20px 20px 20px;
}
.c_footer{
    padding: 20px;
    border-top: 5px solid #e34856;
    display: flex;
    justify-content: space-between;
}
.c_name{
    font-size: 28px;
    font-weight: bold;
    color: #054d91;
}
.c_rew{
    background: #00a232;
    color: #fff;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    font-size: 20px;
    position: relative;
    box-shadow: 0 0 10px 0 #a0a0a0;
}

.c_ava{
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    display: grid;
    border-radius: 50%;
    place-items: center;
    border: 5px solid #e34856;
    padding: 5px;
    background: #fff;
}
.c_ava img{
    width: 100%;
}
.comments-title{
    font-size: 50px;
    text-align: center;
    padding-top: 36px;
    font-weight: 700
}
/*slick*/
.slider-box {
    position: relative;
}
.prev,
.next {
    position: absolute;
    top: 47%;
    height: 60px;
    width: 60px;
    z-index: 1;
    cursor: pointer;
}
.next {
    right: -45px;
}
.prev {
    left: -45px;
}
@media screen and (max-width: 425px){
    .slick-arrow{
        display: none!important;
    }
}